<?xml version="1.0"?>
<config>
	<id>widget x-rwd-gallery</id>
	<type>widget</type>
	<category>
		<main>post</main>
		<sub>latest</sub>
	</category>
	<name>
		<en>Post Latest With Images</en>
		<ko>Post Latest With Images</ko>
	</name>
	<version>0.1</version>
	<author>JaeHo Song</author>
	<email>thruthesky@gmail.com</email>
	<homepage>http://jaehosong.com</homepage>
	<demo>http://philgo.net</demo>
	<short>
		<en>Displays latest post with images</en>
		<ko>Displays latest post with images</ko>
	</short>
	<detail>
		<en>Displays latest post with images in one row</en>
		<ko>Displays latest post with images in one row</ko>
	</detail>
</config>
