<?xml version="1.0"?>
<config>
	<id>widget x-rwd-text-with-thumbnail</id>
	<type>widget</type>
	<category>
		<main>post</main>
		<sub>latest</sub>
	</category>
	<name>
		<en>Mobile Community Text with Thumbnail</en>
		<ko>Mobile Community Text with Thumbnail</ko>
	</name>
	<version>0.1</version>
	<author>JaeHo Song</author>
	<email>thruthesky@gmail.com</email>
	<homepage>http://jaehosong.com</homepage>
	<demo>http://philgo.net</demo>
	<short>
		<en>Displays latest post with image thumbnails</en>
		<ko>Displays latest post with image thumbnails</ko>
	</short>
	<detail>
		<en>Displays latest post with image thumbnails, comment, and date of post</en>
		<ko>Displays latest post with image thumbnails, comment, and date of post</ko>
	</detail>
</config>
